*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-image: url('https://images3.alphacoders.com/276/276637.jpg');
    background-size: cover;
    background-color: #cccccc;
    backdrop-filter: blur(3px);
    height: 100vh;
    width: 100vw;
}
header{
    text-align: center;
    padding: 2em;
}
header h1{
    font-size: 3.2em;
    margin-bottom: .4em;
    color:rgb(244, 193, 8);
}
header input{
    margin-right: 1em;
    width: 20%;
    height: 25px;
    border-radius: 10px;
    text-align: center;
}
header i{
    color:rgb(244, 193, 8);
}
header i:hover{
    color:rgb(255, 230, 0);
}
.cardsWrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-content:space-between;
    padding: 20px;
    row-gap: 4em;
    

}
.cardsWrap .cardItem{
    display:flex;
    justify-content: space-around;
    align-content:center;
    background: #4f5573;
    opacity: .9;
    width: 15%;
    padding: 15px 25px;
    border: 2px solid black;
    text-align: center;
}
.cardsWrap .cardItem a{
    color:rgb(234, 146, 15);
}
.cardsWrap .cardItem:hover{
    background: #626990;
}
.cardsWrap .cardItem .innerCard{
    text-align: center;
    padding-top: 10px;
}
@media screen and (max-width: 1024px) {
    .cardsWrap .cardItem{
        width: 33%;
    }
}

@media screen and (max-width: 768px) {
    .cardsWrap .cardItem{
        width: 45%;
        height: 250px;
    }
}

@media screen and (max-width: 568px) {
    .cardsWrap .cardItem {
        width: 100%;
    }
}
